[Unit]
Description=Serial/ZMQ Bridge
After=network.target
StartLimitIntervalSec=60s
StartLimitBurst=3

[Service]
Type=simple
User=pi
ExecStart=/home/pi/prog/software/build/twsbComs /dev/ttyAMA0 115200
Restart=on-failure
RestartSec=5s
KillMode=process


# Resource Limits
CPUQuota=10%
MemoryMax=16M
MemorySwapMax=0M
IOWeight=200
Nice=0

# Hardware Access
DeviceAllow=/dev/ttyAMA0 rw
DeviceAllow=char-serial rw

#Filesystem Access
ReadOnlyPaths=/home/pi/prog/software/

# Security

[Install]
WantedBy=multi-user.target